@model IEnumerable<ZXManager.Models.Publisher>
@{
    ViewData["Title"] = "Publishers";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add New Publisher</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">
                    @Html.DisplayNameFor(model => model.Name)
                    @if (ViewData["NameSortParm"]?.ToString() == "name_desc")
                    {
                        <i class="fa fa-sort-up" aria-hidden="true"></i>
                    }
                    else if (ViewData["NameSortParm"]?.ToString() == "")
                    {
                        <i class="fa fa-sort-down" aria-hidden="true"></i>
                    }
                    else
                    {
                        <i class="fa fa-sort" aria-hidden="true"></i>
                    }
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GameCountSortParm"]">
                    Games
                    @if (ViewData["GameCountSortParm"]?.ToString() == "gamecount_desc")
                    {
                        <i class="fa fa-sort-up" aria-hidden="true"></i>
                    }
                    else if (ViewData["GameCountSortParm"]?.ToString() == "GameCount")
                    {
                        <i class="fa fa-sort-down" aria-hidden="true"></i>
                    }
                    else
                    {
                        <i class="fa fa-sort" aria-hidden="true"></i>
                    }
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@item.Games.Count</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>